
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


body { 
    margin: 0; 
    padding: 0; 
    font-family: 'Maven Pro', sans-serif; 
}

*:focus { outline: none }

.content { 
    width: 100%; 
    height: 90vh; 
    overflow: hidden; 
    text-align: center; }

.content h1 { 
    font-size: 3.5rem; 
    color: #555; 
    font-family: 'Maven Pro', sans-serif;
    margin-top: 150px; 
}

.content h1 span { 
    font-size: 3rem; 
    font-family: 'Maven Pro', sans-serif; 
}

.content .input { 
    min-width: 250px; 
    max-width: 500px; 
    display: block; 
    margin: auto; 
    margin-top: 70px 
}

.content .input input[type="text"] { 
    width: 90%; 
    height: 40px; 
    border: 1px solid #555; 
    box-shadow: none; 
    display: block; 
    margin: auto; 
    text-align: center 
}

.content button { 
    width: 140px; 
    height: 40px; 
    border: 1px solid #555; 
    box-shadow: none; 
    filter: brightness(80%); 
    display: block; 
    margin: 20px auto; 
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
}